/*
 * __        __          _                  ____  _         _
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___|
 *                 |___/                              |___/
 *
 * -----------------------------------------------------
*/

/*Waybar*/
#waybar {
  /* font-family: MesloLGS Nerd Font Propo; */
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14.3px;
  border-radius: 20px;
  background-color: transparent;
}

/*Set default colors and stuff for modules*/
.module {
  background-color: #1e1e2e;
  border-radius: 20px;
}

.modules-right {
  background-color: #1e1e2e;
  border-radius: 20px;
  padding: 0 10px;
}

/*Clock*/
#clock {
  color: #f9e2af;
  padding: 0 11px;
}

/*Workspaces*/
#workspaces {
  border-radius: 20px;
  padding: 0 5px;
}

#workspaces button {
  border-radius: 20px;
}

#workspaces button.active {
  color: #89b4fa;
}

#workspaces button.urgent {
  color: #f38ba8;
}

/*Window*/
#window {
  border-radius: 20px;
  padding: 0 12px;
  margin-left: 5px;
}

/*System tray*/
#tray {
  padding: 0 5px;
}

/*CPU*/
#cpu {
  padding: 0 5px;
  color: #a6e3a1;
}

/*Memory*/
#memory {
  color: #a6e3a1;
}

/*Pulseaudio*/
#pulseaudio {
  color: #89b4fa;
}
