/*This config uses both Tokyonight and Catppuccin colors*/
/*Theme is called Tokyocat*/

/*Waybar*/
#waybar {
  font-family: MesloLGS Nerd Font Propo;
  font-size: 14.3px;
  border-radius: 20px;
  background-color: transparent;
}

/*Set default colors and stuff for modules*/
.module {
  background-color: #1A1B26;
  border-radius: 20px;
}

.modules-right {
  background-color: #1A1B26;
  border-radius: 20px;
  padding: 0 10px;
}

/*Clock*/
#clock {
  color: #e0af68;
  color: #F9E2AF;
  padding: 0 11px;
}

/*Workspaces*/
#workspaces {
  border-radius: 20px;
  padding: 0 5px;
}

#workspaces button {
  border-radius: 20px;
}

#workspaces button.active {
  color: #89B4FA;
}

#workspaces button.urgent {
  color: #f7768e;  /*Color from Tokyonight-Dark*/
}

/*Window*/
#window {
  border-radius: 20px;
  padding: 0 12px;
  margin-left: 5px;
}

/*System tray*/
#tray {
  padding: 0 5px;
}

/*CPU*/
#cpu {
  padding: 0 5px;
  color: #9ECE6a;
}

/*Memory*/
#memory {
  color: #9ECE6a;
}

/*Pulseaudio*/
#pulseaudio {
  /* color: #7aa2f7; */
  color: #89B4FA;
}
