configuration {
  display-drun: "  Applications:";
  drun-display-format: "{icon} {name}";
  font: "JetBrainsMono Nerd Font 12.3";
  modi: "drun";
  show-icons: true;
  icon-theme: "Papirus";
}

@theme "~/.config/rofi/theme.rasi"
